<div class="Cartouche">
  <h1 class="Rechercher">Rechercher</h1>
  <span class="Separateur"></span>

  <div class="Q1">
    <span class="Que-cherchez-vous-">Que cherchez-vous ?</span>
    <div class="Rectangle-arrondi-1"></div>
  </div>

  <div class="Q2">
    <span class="personnages-historique">Personnages historiques</span>
    <div class="Rectangle-arrondi-1"></div>
  </div>

  <div class="Q3">
    <span class="periode">Période</span>
    <div class="date-first-row">
        <span class="cartouche-petite">1789</span>
        <span class="cartouche-petite1">1790</span>
        <span class="cartouche-petite2">1791</span>
        <span class="cartouche-petite3">1792</span>
    </div>
    <div class="date-second-row">
        <span class="cartouche-petite">1793</span>
        <span class="cartouche-petite1">1794</span>
        <span class="cartouche-petite2">1795</span>
        <span class="cartouche-petite3">1799</span>
    </div>
  </div>

  <div class="Rectangle-arrondi-6">
    <p>Rechercher</p>
  </div>
</div>
