{% extends "base.html.twig" %} {% block title %}Index{% endblock %} {% block
head %} {% endblock %} {% block body %} {% include "navbar/navbar.html.twig" %}

<div class="">
  <div class="Sur-les-traces-de-la-Rvolution-Paris">
    Sur les Traces de la révolution à Paris
  </div>

  <div class="content">
    <span class="La-Ville-de-Paris-vous-propose-de-parcourir-Le-Paris-de-la-Rvo"
      >La Ville de Paris vous propose de parcourir Le Paris de la Révolution
      française à travers les traces encore visibles et les nombreux symboles de
      cette période, tournant majeur dans l’histoire de France et de la
      capitale.</span
    >
    <span class="Le-parcours-Rvolution-vous-emmnera-la-dcouverte-de-16-quar"
      >Le parcours Révolution vous emmènera à la découverte de 16 quartiers et
      plus de 120 lieux liés à cette époque mouvementée et aux grandes figures,
      célèbre ou parfois oubliées, qui en ont fait l’histoire.</span
    >
    <span class="En-savoir-plus">En savoir plus</span>
    <img src="img/icon-back.svg" class="icon-back" />
  </div>

  {% include "home/cartouche.html.twig" %}

  <div class="Dcouvrir-16-quartiers-121-points-dintrt">
    <h1 class="text-style-1">Découvrir</h1>
    <p>16 quartiers, 121 points d’intérêt</p>
  </div>
</div>
{% endblock %}
