/* Home */

.Background {
  height: 2640px;
  width: auto;
  background-color: #efeae0;
}

/* Navbar*/
.navbar {
  position: relative;
  display: inline-block;
  top: 50px;
  left: 159px;
}

.logos {
  display: inline-block;
}
.menu {
  display: inline-block;
  position: relative;
  left: 48px;
}
.menu h1 {
  display: inline-block;
}
.logo-paris {
  width: 131px;
  height: 35px;
  object-fit: contain;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 1px;
  position: relative;
}
.Rectangle-581 {
  width: 2px;
  height: 30px;
  background-color: #002542;
  display: inline-block;
  position: relative;
  left: 19px;
  right: 21px;
}

.logo-parcoursrevolution {
  width: 125px;
  height: 42px;
  object-fit: contain;
  left: 42px;
  margin-top: 1px;
  position: relative;
}

.menu .Dcouvrir {
  font-size: 18px;

  font-family: Korolev;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  position: relative;
  margin-left: 20px;
}

.menu .Personnages {
  font-size: 18px;

  font-family: Korolev;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  left: 70px;
  position: relative;
}

.menu .Chronologie {
  font-size: 18px;

  font-family: Korolev;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  left: 120px;
  position: relative;
}

.menu .-propos {
  font-size: 18px;

  font-family: Korolev;
  font-weight: bold;
  text-align: left;
  color: #002542;
  left: 170px;
  position: relative;
}

.menu .Rectangle-arrondi-1 {
  width: 250px;
  height: 44px;
  border-radius: 10px;
  background-color: #dc3115;
  display: inline-block;
  position: relative;
  left: 220px;
}

.menu .Rectangle-arrondi-1 .Tlcharger-lapplication {
  width: 201px;
  height: 19px;
  font-family: NotoSerif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
  margin-bottom: 11px;
  margin-left: 24px;
}

/* HomePage */

.Sur-les-traces-de-la-Rvolution-Paris {
  width: 620px;
  height: 117px;
  font-family: Korolev;
  font-size: 53px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  position: absolute;
  top: 206px;
  left: 158px;
  text-transform: uppercase;
}
.La-Ville-de-Paris-vous-propose-de-parcourir-Le-Paris-de-la-Rvo {
  width: 386px;
  height: 78px;
  font-family: NotoSerif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  position: absolute;
  top: 368px;
  left: 160px;
}

.Le-parcours-Rvolution-vous-emmnera-la-dcouverte-de-16-quar {
  width: 374px;
  height: 78px;
  font-family: NotoSerif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  position: absolute;
  top: 368px;
  left: 605px;
}

.En-savoir-plus {
  width: 101px;
  height: 16px;
  font-family: NotoSerif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: right;
  color: #e33d26;
  position: absolute;
  top: 468px;
  left: 161px;
}

.icon-back {
  width: 19px;
  height: 14px;
  object-fit: contain;
  position: absolute;
  top: 469px;
  left: 269px;
}

.Dcouvrir-16-quartiers-121-points-dintrt {
  width: 232px;
  height: 49px;
  font-family: NotoSerif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #dc3115;
  position: absolute;
  top: 536px;
  left: 160px;
}
.Dcouvrir-16-quartiers-121-points-dintrt .text-style-1 {
  font-family: Korolev;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.87;
  color: #002542;
}

/* Cartouche */

.Cartouche {
  width: 390px;
  height: 520px;
  border-radius: 6px;
  box-shadow: 4.9px 4.9px 16px 0 rgba(0, 0, 0, 0.14);
  background-color: #efeae0;
  position: relative;
  top: 174px;
  left: 1050px;
  z-index: 0;
}

.Cartouche .Rechercher {
  width: 142px;
  height: 23px;
  font-family: Korolev;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  position: relative;
  z-index: 1;
  left: 30px;
  top: 37px;
}

.Separateur {
  width: 355px;
  height: 1px;
  background-color: #e0d7c5;
  position: absolute;
  left: 17px;
  top: 84px;
}

.Que-cherchez-vous- {
  width: 161px;
  height: 12px;
  font-family: KorolevRounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.4px;
  text-align: left;
  color: #002542;
  position: absolute;
  left: 30px;
  top: 114px;
}

.Q1 .Rectangle-arrondi-1 {
  width: 330px;
  height: 44px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 30px;
  top: 139px;
}

.personnages-historique {
  width: 196px;
  height: 12px;
  font-family: KorolevRounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.4px;
  text-align: left;
  color: #002542;
  position: absolute;
  left: 30px;
  top: 207px;
}

.Q2 .Rectangle-arrondi-1 {
  width: 330px;
  height: 44px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 30px;
  top: 232px;
}

.periode {
  width: 57px;
  height: 13px;
  font-family: KorolevRounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.4px;
  text-align: left;
  color: #002542;
  position: absolute;
  left: 30px;
  top: 297px;
}
.date-first-row {
  display: inline-block;
}

.date-second-row {
  display: inline-block;
}
.date-first-row .cartouche-petite {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 30px;
  top: 325px;
}

.date-first-row .cartouche-petite1 {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 117px;
  top: 325px;
}
.date-first-row .cartouche-petite2 {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 204px;
  top: 325px;
}
.date-first-row .cartouche-petite3 {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 290px;
  top: 325px;
}

.date-second-row .cartouche-petite {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 30px;
  top: 380px;
}

.date-second-row .cartouche-petite1 {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 117px;
  top: 380px;
}
.date-second-row .cartouche-petite2 {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 204px;
  top: 380px;
}
.date-second-row .cartouche-petite3 {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 290px;
  top: 380px;
}

.Rectangle-arrondi-6 {
  width: 330px;
  height: 44px;
  border-radius: 10px;
  background-color: #dc3115;
  position: absolute;
  left: 30px;
  top: 440px;
}

/* 404Page */

.visuel-404 {
  width: 100%;
  height: 1260px;
  object-fit: contain;
  background-image: url("../img/visuel404/visuel-404.jpg");
  background-repeat: round;
}

.Erreur-404-Page-introuvable {
  width: 600px;
  height: 46px;
  font-family: Korolev;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  position: absolute;
  top: 182px;
  left: 159px;
}

.Petit-texte-dexplication-de-lerreur-ventuelle-marche-suiv {
  width: 721px;
  height: 15px;
  font-family: NotoSerif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  position: relative;
  top: 255px;
  left: 159px;
}

.Explorer-parcours-rvolution {
  width: 200px;
  height: 13px;
  font-family: KorolevRounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: left;
  color: #e33d26;
  position: relative;
  top: 311px;
  left: 159px;
}

/* chronologie */

.Accueil-chronologie {
  width: 124px;
  height: 9px;
  font-family: KorolevRounded;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.83;
  letter-spacing: normal;
  text-align: left;
  color: #dc3115;
  position: absolute;
  top: 100px;
  left: 159px;
}

.Accueil-chronologie .text-style-1 {
  color: #002542;
}

.Chronologie-gnrale {
  width: 420px;
  height: 46px;
  font-family: Korolev;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  color: #002542;
  position: absolute;
  top: 182px;
  left: 159px;
}

.timeline {
  width: 1280px;
  height: 4px;
  object-fit: contain;
  border-radius: 2px;
  background-color: #cfc3ac;
  position: relative;
  top: 300px;
  left: 160px;
}

.Ellipse-1 {
  width: 10px;
  height: 10px;
  border: solid 3px #e33d26;
  background-color: #ffffff;
  position: absolute;
  top: 370px;
  left: 209px;
}

.Ellipse-2 {
  width: 10px;
  height: 10px;
  border: solid 3px #e33d26;
  background-color: #ffffff;
  position: absolute;
  top: 370px;
  left: 376px;
}

.Ellipse-3 {
  width: 10px;
  height: 10px;
  border: solid 3px #e33d26;
  background-color: #ffffff;
  position: absolute;
  top: 370px;
  left: 544px;
}

.Ellipse-4 {
  width: 10px;
  height: 10px;
  border: solid 3px #e33d26;
  background-color: #ffffff;
  position: absolute;
  top: 370px;
  left: 711px;
}

.Ellipse-5 {
  width: 10px;
  height: 10px;
  border: solid 3px #e33d26;
  background-color: #ffffff;
  position: absolute;
  top: 370px;
  left: 879px;
}

.Ellipse-6 {
  width: 10px;
  height: 10px;
  border: solid 3px #e33d26;
  background-color: #ffffff;
  position: absolute;
  top: 370px;
  left: 1046px;
}

.Ellipse-7 {
  width: 10px;
  height: 10px;
  border: solid 3px #e33d26;
  background-color: #ffffff;
  position: absolute;
  top: 370px;
  left: 1214px;
}

.Ellipse-8 {
  width: 10px;
  height: 10px;
  border: solid 3px #e33d26;
  background-color: #ffffff;
  position: absolute;
  top: 370px;
  left: 1381px;
}

.date-chrono{
    position: relative;
    bottom: 50px;
    right: 10px;
}
