{% extends "base.html.twig" %} {% block title %}Index{% endblock %} {% block
head %} {% endblock %} {% block body %}
<div class="Background">
  {% include "navbar/navbar.html.twig" %}
  <div class="Accueil-chronologie">
    <h1 class="text-style-1">
      Accueil >
    </h1>
  </div>

  <h1 class="Chronologie-gnrale">Chronologie générale</h1>

  {% include "chronologie/timeline.html.twig" %}

  
</div>
{% endblock %}
