<div>
    <img src="img/timeline.svg" class="timeline" />
    <span class="Ellipse-1">
      <p class="date-chrono">1789</p>
    </span>
    <span class="Ellipse-2">
      <p class="date-chrono">1790</p>
    </span>
    <span class="Ellipse-3">
        <p class="date-chrono">1791</p>

    </span>

    <span class="Ellipse-4">
        <p class="date-chrono">1792</p>

    </span>
    <span class="Ellipse-5">
        <p class="date-chrono">1793</p>

    </span>
    <span class="Ellipse-6">
        <p class="date-chrono">1794</p>

    </span>
    <span class="Ellipse-7">
        <p class="date-chrono">1795</p>

    </span>
    <span class="Ellipse-8">
        <p class="date-chrono">1799</p>

    </span>
  </div>