<div class="navbar">
  <div class="logos">
    <!-- svg -->
    <img src="img/logoParis/logo-paris.svg" class="logo-paris" />

    <div class="Rectangle-581"></div>

    <!-- jpg -->
    <img
      src="img/logoParcoursRevolution/logo-parcoursrevolution.jpg"
      srcset="
        img/logoParcoursRevolution/logo-parcoursrevolution@2x.jpg 2x,
        img/logoParcoursRevolution/logo-parcoursrevolution@3x.jpg 3x
      "
      class="logo-parcoursrevolution"
    />
  </div>

  <div class="menu">
    <a href="{{ path('home') }}">
      <h1 class="Dcouvrir">Découvrir</h1>
    </a>
    <a href="">
      <h1 class="Personnages">Personnages</h1>
    </a>
    <a href="{{ path('chronologie') }}">
      <h1 class="Chronologie">Chronologie</h1>
    </a>
    <a href="">
      <h1 class="-propos">À propos</h1>
    </a>
    <div class="Rectangle-arrondi-1">
      <h1 class="Tlcharger-lapplication">Télécharger l'application</h1>
    </div>
  </div>
</div>
