<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    
    <link rel="stylesheet" href="{{ asset('style/style.css') }}" />

    {% endblock %}
  </head>
  <body>
      {% block body %} {% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
  </body>
</html>
