{% extends "base.html.twig" %} {% block title %}Index{% endblock %} {% block
    head %} {% endblock %} {% block body %} 
<div class=" visuel-404">
    {% include "navbar/navbar.html.twig" %}
    <h1 class="Erreur-404-Page-introuvable">Erreur 404 – Page introuvable</h1>
    <p class="Petit-texte-dexplication-de-lerreur-ventuelle-marche-suiv">Petit texte d’explication de l’erreur, éventuelle marche à suivre, dans un langage intelligible pour un non-averti.</p>
    <span class="Explorer-parcours-rvolution">
        Explorer parcours révolution
    </span>
</div>

{% endblock %}
